:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --primary-color: rgb(239, 238, 234);
  --secondary-color: rgb(39, 63, 79);
  --tertiary-color: rgb(0, 0, 0);
  --high-light-color: rgb(254, 119, 67);
}
body {
  background-color: var(--primary-color);
}

#primary-heading {
  text-align: left;
  margin: 40px auto;
}
#home-page-hero {
  text-align: left;
  margin: 0;
  padding: 200px 400px 200px 200px;
}
#home-page-hero h1 {
  font-family: var(--primary-font);
  font-size: 48px;
}
#home-page-hero h2 {
  font-family: var(--primary-font);
  font-size: 40px;
  color: rgba(0, 0, 0, 0.7);
}
#home-page-hero a {
  font-family: var(--button-font);
  padding: 10px 20px;
}
#home-page-hero button {
  background-color: var(--secondary-color);
  line-height: 28px;
  font-size: 18px;
}
@media (max-width: 900px) {
  #home-page-hero h1 {
    font-size: 32px;
  }
  #home-page-hero h2 {
    font-size: 28px;
  }
}
