:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --primary-color: rgb(239, 238, 234);
  --secondary-color: rgb(39, 63, 79);
  --tertiary-color: rgb(0, 0, 0);
  --high-light-color: rgb(254, 119, 67);
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-family: var(--primary-font);
  font-size: 48px;
}
h3 {
  font-family: var(--primary-font);
  font-size: 20px;
}
p {
  font-family: var(--secondary-font);
}
nav {
  padding: 0px;
}
nav ul {
  margin: 0;
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--high-light-color);
}
nav li.active a {
  display: none;
}
.logo {
  max-width: 80px;
  display: block;
}
.about-me {
  font-family: var(--primary-font);
  color: var(--high-light-color);
  font-size: 16px;
}
.footer-email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  transition: all 100ms ease-in-out;
}
.footer-email-link:hover {
  color: var(--high-light-color);
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 10px 20px 20px;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: var(--high-light-color);
}
#nav-container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0px 5px;
  max-width: 100%;
  max-height: 80px;
}
#primary-heading {
  text-align: left;
  margin-bottom: 30px;
}
#home-page-hero {
  text-align: left;
  margin: 0;
  padding: 100px 400px 200px 200px;
}
#about-page-hero {
  text-align: left;
  margin: 0;
  padding: 100px 400px 200px 200px;
}

#home-page-hero h2 {
  font-family: var(--primary-font);
  font-size: 40px;
  color: rgba(0, 0, 0, 0.7);
}
#button-link {
  font-family: var(--button-font);
  padding: 10px 20px;
}
#app-desription h2 {
  font-family: var(--primary-font);
  font-size: 32px;
}
#app-description p {
  margin: 20px auto;
}
#launch-button {
  background-color: var(--secondary-color);
  line-height: 28px;
  font-size: 18px;
  margin: 15px auto;
}
#head-shot {
  max-width: 300px;
}
#project-heading h1 {
  font-size: 32px;
}
#work-tag-description {
  line-height: 0.5;
}
#work-tag-description h3 {
  font-size: 24px;
}
#project-container {
  margin-bottom: 60px;
}
#contact-me-hero {
  text-align: left;
  margin: 0;
  padding: 100px 400px 200px 200px;
}
#contact-me-hero h1 {
  color: var(--high-light-color);
}
#contact-box {
  background-color: rgba(39, 63, 79, 0.6);
  padding: 30px 120px;
  margin: 20px 200px;
  border-radius: 10px;
}
#contact-box p {
  margin: 0;
}
@media (max-width: 769px) {
  #home-page-hero {
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
  #home-page-hero h1 {
    font-size: 32px;
    text-align: center;
  }
  #home-page-hero h2 {
    font-size: 28px;
    text-align: center;
  }
  #app-desription {
    padding: 0;
    text-align: center;
  }
  #launch-button {
    margin-bottom: 40px;
  }
  #about-me-hero {
    padding: 0;
    text-align: center;
  }
  #about-me-hero h1 {
    font-size: 32px;
  }
  #head-shot {
    margin-top: 50px;
    max-width: 200px;
  }
}
